.entire {
  overflow-x: scroll;
  margin-top: 20px;
  margin-bottom: 30px;
}
.characters {
  white-space: nowrap;
  text-align: center;
}
.character {
  margin: 0 10px;
  border-radius: 15%;
}
canvas {
  display: block;
  margin: 0 auto;
}
.inputs {
  white-space: nowrap;
  text-align: center;
  margin-bottom: 10px;
}
.input {
  margin: 0 2.25px;
  min-width: 57.5px;
}
