.entire {
  overflow-x: scroll;
  margin-top: 20px;
  margin-bottom: 25px;
}
.characters {
  white-space: nowrap;
  text-align: center;
}
.character {
  margin: 0 10px;
  border-radius: 15%;
  cursor: pointer;
}
canvas {
  display: block;
  margin: 0 auto;
}
.bets {
  white-space: nowrap;
  text-align: center;
  margin-bottom: 10px;
}
