.entire {
  overflow-x: scroll;
  margin-top: 20px;
}
.characters {
  white-space: nowrap;
  text-align: center;
}
.character {
  margin: 0 10px;
}
canvas {
  display: block;
  margin: 0 auto;
}
.inputs {
  white-space: nowrap;
  text-align: center;
}
.input {
  margin: 0 2.25px;
}
