.title {
  text-align: center;
  margin-top: 120px;
  font-size: 3.5rem;
  color: darkblue;
  margin-bottom: 2rem;
}
.selectNum {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  border: none;
  border-radius: 50%;
  font-size: 2rem;
  background-color: aqua;
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 0 15px;
}
.button:hover {
  background-color: cornflowerblue;
}
.disabledButton {
  border: none;
  border-radius: 50%;
  font-size: 2rem;
  background-color: lightgray;
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 0 15px;
}
.num {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}
.startButton {
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  font-size: 3rem;
  border: none;
  border-radius: 10px;
  background-color: coral;
  cursor: pointer;
  width: 250px;
  padding: 10px 20px;
  transition: 0.5s;
  text-align: center;
  color: black;
  text-decoration: none;
}
.startButton:hover {
  background-color: darkred;
}
